@font-face {
  font-family: flappyFont;
  src: url(FlappyBirdy.ttf);
}
.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  animation: loading 3.5s;
}
@keyframes loading {
  0% {
    z-index: 3;
    opacity: 1;
    background-color: white;
  }
  90% {
    z-index: 3;
    opacity: 1;
    background-color: white;
  }
}
.icon {
  border-radius: 18px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  opacity: 0;
  animation: imgDelay 3s;
}
@keyframes imgDelay {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
}
.gameTitle {
  font-family: flappyFont;
  font-size: 35px;
  text-align: center;
  padding: 0.6rem 0 1rem 0;
  background: #f8f0a7;
  background: linear-gradient(to bottom, #f8f0a7 44%, #99e850 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2.5px;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}
.delay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: touchDelay 1s;
}
@keyframes touchDelay {
  0% {
    z-index: 3;
  }
  90% {
    z-index: 3;
  }
}
#canvas {
  background-color: #30c0df;
  border: 2px solid black;
  display: block;
  margin: auto;
  padding: auto;
}
